@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: rgba(230, 210, 200, 0.4);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  
  a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
  }

  a:hover {
    color: #535bf2;
  }

  body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
  }

  p {
    @apply text-slate-900;
  }

  h1 {
    @apply text-5xl !text-slate-900;
  }

  h2 {
    @apply text-xl !text-slate-900;
  }

  h1, h2, h3, button {
    color: #0e0e0e;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

  button {
    @apply bg-neutral-50 rounded-full w-10 h-10 outline-none duration-500 flex items-center justify-center font-bold text-lg;
  }
  button:hover {
    @apply  transition-all duration-500 shadow-neutral-50 outline outline-2;
    outline-color: rgba(245, 245, 245, 0.8) 
  }
  .map-button {
    z-index: 400;
  }

  .react-resizable-handle {
    @apply !right-2 !bottom-2;
  }

  .react-resizable-handle::after {
    @apply !z-50;
  }
}

:root.dark {
  background-color: rgba(10, 10, 10, 0.9) !important;

  p {
    @apply text-neutral-50;
  }

  button p {
    @apply text-slate-900;
  }

  h1, h2, h3 {
    @apply !text-neutral-50;
  }

  div.grid-item {
    background-color: rgba(10, 10, 10, 1) !important;
    outline: 2px solid rgba(50, 50, 50, 1)
  }

  .react-resizable-handle::after {
    @apply !border-neutral-50;
  }
}
